*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
web-browsers.xml
vcs.xml
ide.general.xml
gradle.run.settings.xml
editor.codeinsight.xml
diff.xml
debugger.xml
colors.scheme.xml
androidStudioFirstRun.xml
IntelliLang.xml
/inspection
/_windows

